<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lpf.demo.dao.ZyzsUserBiMapper">
  <resultMap id="BaseResultMap" type="com.lpf.demo.entity.ZyzsUserBi">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="groupId" jdbcType="VARCHAR" property="groupid" />
    <result column="isDelete" jdbcType="VARCHAR" property="isdelete" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sideId" jdbcType="VARCHAR" property="sideid" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
  </resultMap>
  <sql id="Base_Column_List">
    id, groupId, isDelete, password, username, name, sideId, comment
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zyzs_user_bi
    where id = #{id,jdbcType=VARCHAR}
  </select>

<!--查询时的list返回 entity-->
<select id="findAll" resultType="com.lpf.demo.entity.ZyzsUserBi">
  select
  <include refid="Base_Column_List" />
  from zyzs_user_bi

</select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from zyzs_user_bi
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lpf.demo.entity.ZyzsUserBi">
    insert into zyzs_user_bi (id, groupId, isDelete, 
      password, username, name, 
      sideId, comment)
    values (#{id,jdbcType=VARCHAR}, #{groupid,jdbcType=VARCHAR}, #{isdelete,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{sideid,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lpf.demo.entity.ZyzsUserBi">
    insert into zyzs_user_bi
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="groupid != null">
        groupId,
      </if>
      <if test="isdelete != null">
        isDelete,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="sideid != null">
        sideId,
      </if>
      <if test="comment != null">
        comment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="groupid != null">
        #{groupid,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null">
        #{isdelete,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sideid != null">
        #{sideid,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lpf.demo.entity.ZyzsUserBi">
    update zyzs_user_bi
    <set>
      <if test="groupid != null">
        groupId = #{groupid,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null">
        isDelete = #{isdelete,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sideid != null">
        sideId = #{sideid,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lpf.demo.entity.ZyzsUserBi">
    update zyzs_user_bi
    set groupId = #{groupid,jdbcType=VARCHAR},
      isDelete = #{isdelete,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      sideId = #{sideid,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>



</mapper>